
.icon-play:before { content: '\e800'; } /* '' */
.icon-play-circled:before { content: '\e801'; } /* '' */
.icon-bucket:before { content: '\e802'; } /* '' */
.icon-thermometer:before { content: '\e803'; } /* '' */
.icon-ok:before { content: '\e804'; } /* '' */
.icon-plus:before { content: '\e805'; } /* '' */
.icon-user:before { content: '\e806'; } /* '' */
.icon-cursor:before { content: '\e807'; } /* '' */
.icon-calendar:before { content: '\e808'; } /* '' */
.icon-tag:before { content: '\e809'; } /* '' */
.icon-tag-empty:before { content: '\e80a'; } /* '' */
.icon-eye:before { content: '\e80b'; } /* '' */
.icon-down:before { content: '\e80c'; } /* '' */
.icon-left:before { content: '\e80d'; } /* '' */
.icon-up:before { content: '\e80e'; } /* '' */
.icon-right:before { content: '\e80f'; } /* '' */
.icon-down-circle:before { content: '\e810'; } /* '' */
.icon-left-circle:before { content: '\e811'; } /* '' */
.icon-right-circle:before { content: '\e812'; } /* '' */
.icon-up-circle:before { content: '\e813'; } /* '' */
.icon-layers:before { content: '\e814'; } /* '' */
.icon-layers-alt:before { content: '\e815'; } /* '' */
.icon-book-alt:before { content: '\e816'; } /* '' */
.icon-book:before { content: '\e817'; } /* '' */
.icon-chart-bar:before { content: '\e818'; } /* '' */
.icon-chart-pie:before { content: '\e819'; } /* '' */
.icon-chart-pie-alt:before { content: '\e81a'; } /* '' */
.icon-exchange:before { content: '\e81b'; } /* '' */
.icon-arrow-curved:before { content: '\e81c'; } /* '' */
.icon-search:before { content: '\e81d'; } /* '' */
.icon-home:before { content: '\e81e'; } /* '' */
.icon-users:before { content: '\e81f'; } /* '' */
.icon-heart:before { content: '\e820'; } /* '' */
.icon-info:before { content: '\e821'; } /* '' */