.slide-button
  width: auto
  height: 30px
  line-height: 30px
  position: relative
  display: inline-block
  margin: 0px 10px
  background: #eee
  border-radius: 20px
  
  a
    color: #fff
    text-decoration: none
  
  .slide-icon
    width: 30px
    height: 30px
    background: #000
    color: #fff
    position: absolute
    left: 0px
    font-size: 22px
    text-align: center
    border-radius: 50%
    
  .slide-content
    width: 0px
    margin-left: 30px
    overflow: hidden
    display: block
    text-align: left
    white-space: nowrap
    transition: .2s all ease-in-out
  
.slide-button.state-active .slide-content
  margin: 0px 8px 0px 34px
  width: 100%
  max-width: auto